<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demotest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF0D46951D50A3DC00151702</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF0D46A91D50A3DC00151702</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF0D46B41D50A3DC00151702</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
